.add-container {
  max-width: 300px;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  /* box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696; */
}

.paper-container {
  width: 100%;
  align-items: center;
  text-align: center;
  align-content: center;
  padding-top: 30px;
}
