* {
  margin: 0;
  padding: 0;
}

.imgbox {
  height: 500px !;
}

.ar-wrapper {
  max-width: 530px;
  padding: 5px;
  /* margin-top: 20px; */
  /* box-shadow: 4px 3px 8px 1px #969696;
  --webkit-box-shadow: 4px 3px 8px 1px #969696; */
}

.details-wrapper {
  max-width: 530px;
  min-width: 200px;
  max-height: 550px;
  padding: 5px;
  /* box-shadow: 4px 3px 8px 1px #969696;
  --webkit-box-shadow: 4px 3px 8px 1px #969696; */
}
